style.
	.wait{
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
	.wait__logo{
		flex: 0 0 auto;
		text-align:center;
	}
	.wait__logo img{
		width:400px;
	}
	.wait__loader{
		flex:0 0 auto;
		text-align:center;
	}
	.wait__loader img{
		width:50px;
	}
	.wait__loader p{
		text-transform:uppercase;
		letter-spacing:2px;
		color:#999;
	}
	.wrap{
		position:relative;
	}
