.d-content {
	display: flex;
	margin: 30px 0 70px 0;
}
.dashboard__content-wrap {
	padding: 30px;
	position: relative;
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		border-width: 25px;
		border-style: solid;
		border-color: color("primary") transparent transparent color("primary");
		width: 0;
		height: 0;
		display: block;
		z-index: 2;
		content: "";
	}
}
.dashboard__content {
	display: flex;
	background: #f2f2f2;
	position: relative;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
}
.rect {
	position: absolute;
	top: 0;
	left: 0;
	&:after {
		position: absolute;
		content: "";
		width: 0px;
		height: 0px;
		border: 30px solid transparent;
		border-right-color: color("primary");
		border-right-width: 30px;
		transform: rotate(45deg);
		top: -30px;
		left: -30px;
	}
}
.dashboard__content__title {
	margin: 0 0 5px 0;
	font-size: 24px;
}

.details-wrap {
	display: flex;
}
.update-note {
	font-size: 14px;
	color: #777;
	font-style: italic;
	margin: 20px 0 0 0;
}
.details-ul {
	width: 100%;
	> li {
		+ li {
			margin-top: 15px;
		}
		.authen {
			margin-top: 0;
			p {
				margin-top: 0;
			}
		}
	}
}
.personal-details {
	margin-right: 50px;
	width: 220px;
	flex-shrink: 0;
}
.shipping-options {
	margin-top: 20px;
	label,
	span {
		font-size: 12px;
	}
}
.res-table {
	table {
		text-align: left;
		width: 100%;
		font-size: 14px;
	}
	th {
		background: color("primary");
		color: #fff;
		font-weight: 400;
		padding: 10px;
		white-space: nowrap;
	}
	td {
		padding: 10px;
		vertical-align: top;
	}
	tr {
		background: #f2f2f2;
		border-bottom: 2px solid #fff;
		&.active {
			background: #fff;
			box-shadow: inset 0 0 0 6px color("accent");
		}
	}
}

.card-shadow {
	position: relative;
	width: 100%;
}
.card-shadow:before,
.card-shadow:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	bottom: 17px;
	height: 50px;
	max-width: 300px;
	background: #fff;
	-webkit-box-shadow: 0 20px 15px -5px #777;
	-moz-box-shadow: 0 20px 15px -5px #777;
	box-shadow: 0 20px 15px -5px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.card-shadow:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

@include md-down {
	.personal-details {
		width: 100%;
		margin: 0 0 30px 0;
	}
	.details-wrap {
		flex-direction: column;
	}
	.res-table {
		overflow: auto;
		table {
			min-width: 750px;
		}
	}
}

@include xs-down {
	.dashboard__content-wrap {
		padding: 0;
	}
	.dashboard__content {
		padding: 0;
		background: #fff;
	}
	.card-shadow {
		&:after,
		&:before {
			display: none;
		}
	}
}
