.dashboard__customer {
	margin-top: -40px;
}
.dashboard__cover {
	background-size: cover;
	padding: 20px 0 60px 0;
}
.dashboard__title {
	font-size: 26px;
	color: #fff;
	text-align: center;
	margin: 0;
}
