.shopper__text {
	font-weight: 600;
	color: #2d2d2d;
	margin: 0px;
	font-size: 14px;
	line-height: 22px;
}
.shopper__box {
	margin-top: 30px;
}

.shopper__title {
	font-size: 16px;
	margin: 0px;
	color: #2d2d2d;
}
.shopper-form__wrap {
	+ .shopper-form__wrap {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 2px dashed #dadada;
		margin-bottom: 40px;
	}
}
.shopper-form {
	margin-top: 5px;
	padding: 20px;
	background: #fff;
	border: 4px solid #cacaca;
	label {
		font-size: 14px;
		color: #2d2d2d;
	}
	.removeItem {
		display: flex;
		align-items: center;
		margin-left: auto;
		width: 25px;
		height: 25px;
		border-radius: 25px;
		justify-content: center;
		border: none;
		padding: 0px;
		font-size: 20px;
	}
	> ul {
		> li {
			+ li {
				margin-top: 10px;
			}
		}
	}
}
.sub-field {
	display: flex;
	font-size: 0px;
	flex-wrap: wrap;
	justify-content: space-between;
	> li {
		flex: 0 0 33%;
		max-width: 33%;
		&:last-child() {
			flex: 0 0 28%;
			max-width: 28%;
		}
	}
}
.sub__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.sub__field {
		flex: 0 0 45%;
		max-width: 45%;
		select {
			border: 2px solid #dadada;
			width: 100%;
			height: 40px;
			padding: 0 5px;
			font-size: 16px;
			font-family: font("title");
		}
	}
}
.shopper-action {
	text-align: center;
	margin-top: 15px !important;
	button {
		height: 35px;
		line-height: 34px;
		font-size: 14px;
		font-weight: 600;
	}
}
.shopper__table {
	margin-top: 5px;
	width: 100%;
	thead {
		background: color("primary");
		th {
			color: #fff;
			font-weight: normal;
			font-size: 13px;
			padding: 10px;
			text-align: left;
			&:first-child {
				border-top-left-radius: 3px;
			}
			&:last-child {
				border-top-right-radius: 3px;
			}
		}
	}
	tbody {
		background: #fff;
	}
	tr {
		border-bottom: 1px solid #dadada;
		td {
			padding: 10px;
			font-size: 12px;
			a {
				color: color("primary");
				font-weight: 600;
				text-decoration: underline;
			}
			&:last-child {
				text-align: center;
			}
		}
	}
	tfoot {
		background: #fff;
		font-family: font("title");
		tr {
			border: none;
		}
		td {
			padding: 10px;
		}
		label {
			color: #2d2d2d;
			font-weight: 600;
			font-size: 12px;
		}
		span {
			font-size: 15px;
			color: color("accent");
			font-weight: 600;
			margin-left: 5px;
		}
		.button {
			height: 30px;
			margin-top: 5px;
			line-height: 29px;
			font-size: 12px;
			color: #fff;
			text-decoration: none;
		}
	}
}
.shopper__table__wrap {
	+ .shopper__table__wrap {
		margin-top: 30px;
	}
}
@include sm-down {
	.shopper__table__wrap {
		width: 100%;
		overflow: auto;
		table.shopper__table {
			width: 700px;
		}
	}
	.shopper-form {
		.one-half-wrap {
			flex-direction: column;
			.one-half-input {
				width: 100%;
				+ .one-half-input {
					margin-left: 0px;
					margin-top: 5px;
				}
			}
		}
	}
}

@include xxs-down {
	.shopper-action {
		button + button {
			margin-top: 10px;
		}
	}
	.sub-field {
		> li {
			flex: 0 0 46%;
			max-width: 46%;
			&:first-child {
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 15px;
			}
			&:last-child {
				flex: 0 0 46%;
				max-width: 46%;
			}
		}
	}
	.sub__box {
		.sub__field {
			flex: 0 0 46%;
			max-width: 46%;
		}
	}
}
