.warehouse-box {
	.pdf-button {
		margin-top: 5px;
		display: flex;
		align-items: center;
		span {
			font-weight: 300;
			color: #2d2d2d;
			margin-left: 5px;
		}
	}
	.button--accent {
		height: 30px;
		font-weight: 600;
		line-height: 30px;
		font-size: 12px;
		text-transform: capitalize;
		color: #fff;
		white-space: nowrap;
		&:hover {
			text-decoration: none;
		}
	}
}
.warehouse--table {
	margin-top: 20px;
	tr {
		border: none;
		th {
			font-size: 12px;
			&:nth-child(4) {
				width: 25%;
			}
			&:last-child {
				width: 18%;
			}
		}
		td {
			vertical-align: top;
			background: #f2f2f2;
		}
		& + tr {
			border-top: 2px solid #fff;
		}
	}
	.description-edit {
		display: flex;
		i {
			color: #ababab;
			font-size: 18px;
		}
	}
}
.button--ship {
	text-transform: capitalize;
	margin-top: 15px;
	padding: 0 50px;
	text-align: center;
}
.ship__text {
	font-size: 14px;
}
